@charset "UTF-8";

header {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:darkorange;
  color: white;
} 
nav {
font-size: 20px;
  line-height: 1.8;
 border:double 5px aquamarine;
 text-align: center;
 background-color:darkgray;
margin:50px;
 width:500px;
  } 

.C {
  font-size: 50px;
  margin:100px;
  border-bottom:solid;
  border-color:#FF0000;
  border-width:5px;
}

.D {
  font-size: 30px;
  margin: 100px;
  line-height:3
}

.E {
  font-size: 50px;
  margin:100px;
}

img {
  padding-bottom: 60px;
margin-left:100px;
}


.footer {
  font-size: 30px;
  margin: 100px;
  line-height:3;

}

.BC {
  font-size:50px;
  text-align: center;
}

